.christmas-tree {
  position: relative;
  z-index: 0;
  background-image: url("../images/christmas-tree.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-red);
  top: 67px;
  margin-bottom: 67px;
}

#wishlist-section {
  margin-top: 5rem;
  padding-top: 3rem;
}

/* Form Styles */
#form-intro {
  position: relative;
  top: 67px;
}

/* width */
.scrollbar::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 10px;
}
