.christmas-tree {
  position: relative;
  z-index: -1;
  background-image: url("../images/christmas-tree.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: red;
}
